* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-y: scroll;
}
header {
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(55, 247, 173);
}

p {
  font-family: 'Lato', sans-serif;
  overflow-y: auto;
  padding-left: 5px;
}

a:hover {
  text-decoration: none;
  color: red;
  cursor: pointer;
}

.button {
  background-color: rgb(44, 48, 44); /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
   cursor: pointer;
}

.button1 {
  background-color: powderblue; 
  color: black; 
  border: 2px solid powderblue;
}

.button1:visited {
  background-color: powderblue; 
  color: black; 
  border: 16px solid powderblue;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

h1{
  position: relative;
  left: 5px;
  padding-left: 6px;
}

.switch input {display:none;}

input:checked + .slider {
  background-color: rgb(13, 150, 243);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}